Package: com.exoticswingset.truthfuldock
Name: TruthfulDock
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
