Package: com.exoticswingset.truthfuldock
Name: TruthfulDock
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
